*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Outfit",sans-serif;
  font-weight: 500;

}
header{
  color: white;
  padding: 0;
  margin: 0;
  height: 20vh;
  background: linear-gradient(#36802D,#77AB59);
}
main{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.main-cabecalho{
  width: 100%;
  height: auto;
}
.cabecalho-icon{
  font-size:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px ;
  margin:0 20vw;
}
.r-side{
  display:flex;
}
.icon{
  display:flex;
  padding-right: 10px;
}
.icon i{
  margin-left: 5px;
}
.logo{
  width: auto;
  height: auto;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-self: start;
}
.logo-circle{
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-img{
  width: 20px;
  height: 20px;
}
.logo-name-div{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 20px;
}
.logo a{
  color:white;
}
.logo a:hover{
  text-decoration:none;
}
.icon a{
  color: white;
  text-decoration: none;
}
.icon a:hover{
  color: #E5E6E4;
  text-decoration: underline;
}
.search-main{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  width: auto;
}
input[type="text"]:focus {
  outline: none;
  color: black;
}
.forms{
  width: auto;
  height: auto;
  display:flex;
}
.bar{
  height: 5.5vh;
  width: 30vw;
  padding-left: 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 1.4em;
}
.bar-button{
  height: 5.5vh;
  width: 3.5vw;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #234D20;
  border-left: none;
  color: white;
}
.bar-button:hover{
  cursor: pointer;
  background-color: #32672F;
}
.bar-button i{
  font-size: 20px;
}
.show-items{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 2.5vw;
}
#snp-counter{
  width:auto;
  margin-left: 19.5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #889696;
}
.desc{
  display: flex;
  flex-direction: row;
}
.desc h4{
  display: flex;
  flex-direction: row;
  margin-right: 10px;

}
.button-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button-pagination li a{
  color: black;
  text-decoration:none;
  font-size:  2.1em;
}
.arrow-page{
  margin: 0 20px;
}
.no-items-found{
    width: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
}
#not-found{
  margin-top:.9vh;
}
.checkbox-title{
  display:flex;
  align-items: center;
}
.checkbox-snp{
  margin-right:15px;
  width: 18px;
  height: 18px;
}
.checkbox-snp:hover{
  cursor: pointer;
}
.principal{
  display: flex;
  flex-direction: row;
}
.filter-main{
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
}
.filter-main h3{
  font-size: 25px;
  margin-left: 15%;
  margin-bottom: 20px;
}
.align-filter{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.filters{
  display: flex;
  margin-left: 15%;
  margin-bottom: 10px;
  font-size: 15px;
}
.filters label{
  margin-left: 6px;
  justify-content: center;
  font-size: 20px
}
.filters input{
  width: 20px;
}
.filters input:hover{
  cursor: pointer;
}
.alignButtonHgvs{
  display: flex;
  flex-direction: row;
}
.collapsible{
  background-color: #d1d6d6;
  outline: none;
  border: solid 1px black;
  width: 40px;
  height: 20px;
  cursor: pointer;
  border-radius: 15%;
}
.content{
  display: none;
  overflow: hidden;
  padding: 10px 0;
}
