*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  text-align: justify;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Outfit",sans-serif;
  font-weight: 500;

}
header{
  color: white;
  padding: 0;
  margin: 0;
  height: 20vh;
  background: linear-gradient(#36802D,#77AB59);
}
main{
  padding: 0;
  margin: 0 20vw;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.main-cabecalho{
  width: 100%;
  height: auto;
}
.cabecalho-icon{
  font-size:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:10px ;
  margin:0 20vw;
}
.r-side{
  display:flex;
}
.icon{
  display:flex;
  padding-right: 10px;
}
.icon i{
  margin-left: 5px;
}
.logo{
  width: auto;
  height: auto;
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-self: start;
}
.logo-circle{
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-img{
  width: 20px;
  height: 20px;
}
.logo-name-div{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 20px;
}
.icon{
  padding-right: 10px;
}
.icon i{
  margin-left: 5px;
}
.logo-search{
  flex: auto;
  margin-left: 20vw;
}
.logo-search a{
  color:white;
}
.logo-search a:hover{
  text-decoration:none;
}
.icon a{
  color: white;
  text-decoration: none;
}
.icon a:hover{
  color: #E5E6E4;
  text-decoration: underline;
}
.search-main{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  width: auto;
}
input[type="text"]:focus {
  outline: none;
  color: black;
}
.forms{
  width: auto;
  height: auto;
  display:flex;
}
.bar{
  height: 5.5vh;
  width: 30vw;
  padding-left: 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 1.4em;
}
.bar-button{
  height: 5.5vh;
  width: 3.5vw;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #234D20;
  border-left: none;
  color: white;
}
.bar-button:hover{
  cursor: pointer;
  background-color: #32672F;
}
.bar-button i{
  font-size: 20px;
}
.show-items{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 23.5vw;
}
#snp-counter{
  width:auto;
  margin-left: 19.5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #889696;
}
.desc{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}
.desc h4{
  margin-left: 10px;
}
.button-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button-pagination li a{
  color: black;
  text-decoration:none;
  font-size:  2.1em;
}
.arrow-page{
  margin: 0 20px;
}
.no-items-found{
    width: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
}
#not-found{
  margin-top:.9vh;
}
.header-snp{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1.5vh;
}
.header-snp h2{
  margin-top: 1.5vh;
}
.header-snp img{
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: .7vh;
}
#gene-name{
  margin-bottom: 1.5vh;
}
#gene-name span{
  font-size: .7em;
}
.header-snp h1{
  font-size: 3em;
}
.main-header-snp{
  margin: 3vh 0 4vh 0;
}
main b:hover{
  text-decoration: underline;
}
.desc-gene{
  margin-top: 1.6vh;
}
#snp-container{
  display: none;
}
#keywords-container{
  display: block;
}
button{
  min-width: 5vw;
  min-height: auto;
  font-size: 1em;
  padding: 1vh;
  border-radius: 4%;
  border: solid 1px #303030;
  margin-bottom: 1vh;
  background-color: white;
  text-align: center;
}
button:not(.clicked):hover{
  background-color: #d9dbdb;
}
button:hover{
  cursor: pointer;
}
.clicked{
  background-color: #303030;
  color: white;
}