*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Outfit",sans-serif;
  font-weight: 500;

}
header{
  color: white;
  padding: 0;
  margin: 0;
  height: 50vh;
  background: linear-gradient(#36802D,#77AB59);
}
main{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
.main-cabecalho{
  width: 100%;
  height: 100px;
}
.cabecalho-icon{
  font-size:20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-top:10px ;
  margin-right: 10vw;
}
.icon{
  padding-right: 20px;
}
.icon i{
  margin-left: 5px;
}
.icon a{
  color: white;
}
.icon a:hover{
  color: #E5E6E4;
  text-decoration: underline;
}
.search-main{
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  display: flex;
  flex-direction: column;
  width: auto;
}
input[type="text"]:focus {
  outline: none;
  color: black;
  font-size: 1.4em;
}
.forms{
  width: 100%;
  height: 100%;
}
.logo{
  width: auto;
  height: auto;
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* definir altura e largura */
}
.logo-circle{
  width: 115px;
  height: 115px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-img{
  width: 90px;
  height: 90px;
}
.logo-name-div{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.big-logo-name{
  font-weight: 100px;
  font-size: .75em;
}
.bar{
  height: 8.5vh;
  width: 40vw;
  padding-left: 10px;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 1.5em;
}
.bar-button{
  height: 8.5vh;
  width: 4.5vw;
  border-radius: 0 15px 15px 0;
  border: none;
  background-color: #234D20;
  border-left: none;
  color: white;
}
.bar-button:hover{
  cursor: pointer;
  background-color: #32672F;
}
.bar-button:focus{
  outline:none;
}
.bar-button i{
  font-size: 1.7em;
}
.slogan{
  margin-top: .7%;
  text-align: center;
  font-size: 1.8em;
}
form{
  display: flex;
  width: auto;
  height: auto;
}
#not-found{
  font-size: 1.7em;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main */
.main-container{
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 10px 20vw;
}
.ab{
  display: flex;
  flex-direction: row;
}
.ab p{
  width: auto;
  height: auto;
  font-size: 1.4em;
}
.dbTitles{
  display: flex;
  flex-direction: column;
}
.db{
  display: flex;
  flex-direction: row;
  margin-bottom: 5vw;
}
.db p{
  width: auto;
  height: auto;
  font-size: 1.4em;
}
.main-title{
  margin: 3.5vw 0;
  font-size: 2.5em;
}
.aboutPlat{
  margin-top: 1.5vw;
  margin-bottom: 2vw;
  font-size: 2em;
}
.databaseTopic{
  margin-top:3.5vw;
  font-size: 2em;
}
.titlesH3{
  margin: 2vw 0;
  font-size: 1.6em;
}
/* footer */
footer{
  text-align: center;
  color: #999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-topics{
  margin: 0 10px;
  width: 200px;
  align-items: center;
}
.footer-topics hr{
  width: 70%;
  margin: .3vw auto;
}
.link-footer-topics{
  color: #999;
}
.link-footer-topics:hover{
  cursor: pointer;
  color: #797979;
}
.align-logo-and-name{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.align-logo-and-name img{
  width: 20px;
  height: 20px;
}
.link-footer{
  color: #444444;
}
.copyright{
  margin-top: 1vw;
}